<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Gini Index Prediction</title>

<body>
    <h3>Income Prediction Form</h3>


    <form class="container" action="/result" method="POST">
        <div class="row">
            <div class="col">
                <div class="form-group form-floating mb-3">
                    <input type="text" class="form-control" id="age" placeholder="24">
                    <label for="age">Age</label>
                </div>
            </div>
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="w_class" aria-label="Floating label select example">
                        <option selected>Federal-gov</option>
                        <option value="1">Local-gov</option>
                        <option value="2">Never-worked</option>
                        <option value="3">Private</option>
                        <option value="4">Self-emp-inc</option>
                        <option value="5">Self-emp-not-inc</option>
                        <option value="6">State-gov</option>
                        <option value="7">Without-pay</option>
                    </select>
                    <label for="w_class">Working Class</label>
                </div>
            </div>
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="edu" aria-label="Floating label select example">
                        <option selected>10th</option>
                        <option value="1">11th</option>
                        <option value="2">12th</option>
                        <option value="3">1st-4th</option>
                        <option value="4">5th-6th</option>
                        <option value="5">7th-8th</option>
                        <option value="6">9th</option>
                        <option value="7">Assoc-acdm</option>
                        <option value="8">Assoc-voc</option>
                        <option value="9">Bachelors</option>
                        <option value="10">Doctorate</option>
                        <option value="11">HS-grad</option>
                        <option value="12">Masters</option>
                        <option value="13">Preschool</option>
                        <option value="14">Prof-school</option>
                        <option value="15">16 - Some-college</option>
                    </select>
                    <label for="edu">Education</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="martial_stat" aria-label="Floating label select example">
                        <option selected>divorced</option>
                        <option value="1">married</option>
                        <option value="2">not married</option>
                    </select>
                    <label for="martial_stat">Marital Status</label>
                </div>
            </div>
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="occup" aria-label="Floating label select example">
                        <option selected>Adm-clerical</option>
                        <option value="1">Armed-Forces</option>
                        <option value="2">Craft-repair</option>
                        <option value="3">Exec-managerial</option>
                        <option value="4">Farming-fishing</option>
                        <option value="5">Handlers-cleaners</option>
                        <option value="6">Machine-op-inspct</option>
                        <option value="7">Other-service</option>
                        <option value="8">Priv-house-serv</option>
                        <option value="9">Prof-specialty</option>
                        <option value="10">Protective-serv</option>
                        <option value="11">Sales</option>
                        <option value="12">Tech-support</option>
                        <option value="13">Transport-moving</option>
                    </select>
                    <label for="occup">Occupation</label>
                </div>
            </div>
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="relation" aria-label="Floating label select example">
                        <option selected>Husband</option>
                        <option value="1">Not-in-family</option>
                        <option value="2">Other-relative</option>
                        <option value="3">Own-child</option>
                        <option value="4">Unmarried</option>
                        <option value="5">Wife</option>
                    </select>
                    <label for="relation">Relationship</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="race" aria-label="Floating label select example">
                        <option selected>Amer Indian Eskimo</option>
                        <option value="1">Asian Pac Islander</option>
                        <option value="2">Black</option>
                        <option value="3">Other</option>
                        <option value="4">White</option>
                    </select>
                    <label for="race">Race</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating">
                    <select class="form-select" id="gender" aria-label="Floating label select example">
                        <option selected>Female</option>
                        <option value="1">Male</option>
                    </select>
                    <label for="gender">Gender</label>
                </div>
            </div>
            <div class="col">
                <div class="form-group form-floating mb-3">
                    <input type="text" class="form-control" id="c_gain" placeholder="btw:[0-99999]">
                    <label for="c_gain">Capital Gain</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group form-floating mb-3">
                    <input type="text" class="form-control" id="c_loss" placeholder="btw:[0-4356]">
                    <label for="c_loss">Capital Loss</label>
                </div>
            </div>
            <div class="col">
                <div class="form-group form-floating mb-3">
                    <input type="text" class="form-control" id="hours_per_week" placeholder="btw:[1-99]">
                    <label for="hours_per_week">Hours per Week</label>
                </div>
            </div>
            <div class="col">
                <div class="form-control form-control-lg form-floating">
                    <select class="form-select" id="native-country" aria-label="Floating label select example">
                        <option selected>Cambodia</option>
                        <option value="1">Canada</option>
                        <option value="2">China</option>
                        <option value="3">Columbia</option>
                        <option value="4">Cuba</option>
                        <option value="5">Dominican Republic</option>
                        <option value="6">Ecuador</option>
                        <option value="7">El Salvadorr</option>
                        <option value="8">England</option>
                        <option value="9">France</option>
                        <option value="10">Germany</option>
                        <option value="11">Greece</option>
                        <option value="12">Guatemala</option>
                        <option value="13">Haiti</option>
                        <option value="14">Netherlands</option>
                        <option value="15">Honduras</option>
                        <option value="16">HongKong</option>
                        <option value="17">Hungary</option>
                        <option value="18">India</option>
                        <option value="19">Iran</option>
                        <option value="20">Ireland</option>
                        <option value="21">Italy</option>
                        <option value="22">Jamaica</option>
                        <option value="23">Japan</option>
                        <option value="24">Laos</option>
                        <option value="25">Mexico</option>
                        <option value="26">Nicaragua</option>
                        <option value="27">Outlying-US(Guam-USVI-etc)</option>
                        <option value="28">Peru</option>
                        <option value="29">Philippines</option>
                        <option value="30">Poland</option>
                        <option value="11">Portugal</option>
                        <option value="32">Puerto-Rico</option>
                        <option value="33">Scotland</option>
                        <option value="34">South</option>
                        <option value="35">Taiwan</option>
                        <option value="36">Thailand</option>
                        <option value="37">Trinadad&Tobago</option>
                        <option value="38">United States</option>
                        <option value="39">Vietnam</option>
                        <option value="40">Yugoslavia</option>
                    </select>
                    <label for="native-country">Gender</label>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <input class="btn btn-primary submit" type="submit" value="submit"> -->
            <input type="submit" value="Submit">
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
</body>

</html>